.notificationBox {
  position: fixed;
  top:6em;
  right: 1em;
  border-radius: 4px;
  z-index: 1000;
  border-style: solid;
  border-width: 1px;
  padding-top: 1%;
}
.notificationList {
  padding-left: 1em;
  padding-right: 1em;
}

.showBell {
  color: var(--white);
  cursor: pointer;
}

.notificationLink {
  text-decoration: none;
  cursor: pointer;
}
.NotificationTitleBox {
  display: flex;
  align-items: center;
}

.notificationTitle {
  font-weight: bold;
}

.priority {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: auto;
}
