.divider {
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividerLine {
  height: 1px;
  background-color: var(--blackSecondary);
  opacity: 0.15;
  flex-grow: 1;
}

.dividerTitle {
  text-transform: uppercase;
  color: var(--blackSecondary);
  margin: 0 10px;
}
